aside {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 2rem 1rem;
    gap: 1rem;
}

#sidebar-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    align-items: center;
}

#add-appliance-btn {
    width: 120px;

}

#sidebar-model-list {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    /* Required for scroll to work in flex container */
}

.model-control-card {
    overflow-y: auto;
    margin-bottom: .5rem;
    background-color: var(--secondary-color);
    padding: .5rem;
    border-radius: 8px;
}

.model-control-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: .5rem;
}

#sidebar-footer {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    flex-shrink: 0;
    /*prevent footer from shrinking*/
    margin-top: auto;
    /*Push footer to the bottom*/

}

#sidebar-footer small {
    font-size: var(--font-size-xs);
    font-style: italic;
}
/* Mobile */
.sidebar-toggle {
    display: none; /*>950 hide button*/
}
@media (max-width: 950px) {
    aside {
        position: fixed;
        left: -200px; /* Hide offscreen, matches width */
        height: 100vh;
        transition: transform 0.3s ease;
        z-index: 100;
    }
    
    aside.active {
        transform: translateX(200px); /* Slide in when active */
    }
    
    .sidebar-toggle {
        display: flex;
        position: fixed;
        top: 50%;
        left: 0;
        width: 30px;
        height: 60px;
        background-color: var(--action-color);
        border-radius: 0 8px 8px 0;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 101;
        transition: left 0.3s ease;
    }
    
    .sidebar-toggle.active {
        left: 200px;
    }
    
    .sidebar-toggle::after {
        content: "›";
        color: var(--white);
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    .sidebar-toggle.active::after {
        content: "‹";
    }
}