:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: unset;
  margin: unset;
  box-sizing: border-box;
  min-height: 100vh;
  height: 100vh;
  border: 2px solid red;
}

main {
  display: flex;
  min-height: 100vh;
  height: 100vh;
  border: 2px dashed blue;
}

aside {
  border: 2px solid green;
  text-align: center;
  height: 100%;
}